<tr>
  <td><%= mushroom.edible %></td>
  <td><%= mushroom.cap_shape %></td>
  <td><%= mushroom.cap_surface %></td>
  <td><%= mushroom.cap_color %></td>
  <td><%= mushroom.bruises? %></td>
  <td><%= mushroom.odor %></td>
  <td><%= mushroom.gill_attachment %></td>
  <td><%= mushroom.gill_spacing %></td>
  <td><%= mushroom.gill_size %></td>
  <td><%= mushroom.gill_color %></td>
  <td><%= mushroom.stalk_shape %></td>
  <td><%= mushroom.stalk_root %></td>
  <td><%= mushroom.stalk_surface_above_ring %></td>
  <td><%= mushroom.stalk_surface_below_ring %></td>
  <td><%= mushroom.stalk_color_above_ring %></td>
  <td><%= mushroom.stalk_color_below_ring %></td>
  <td><%= mushroom.veil_type %></td>
  <td><%= mushroom.veil_color %></td>
  <td><%= mushroom.ring_number %></td>
  <td><%= mushroom.ring_type %></td>
  <td><%= mushroom.spore_print_color_range %></td>
  <td><%= mushroom.population %></td>
  <td><%= mushroom.habitat %></td>
</tr>