<tr>
  <td><%= mushroom.id %></td>
  <td><%= mushroom.edible ? 'Edible' : 'Poisonous' %></td>
  <td><%= convert_attr_value('cap_shape', mushroom.cap_shape) %></td>
  <td><%= convert_attr_value('cap_surface', mushroom.cap_surface) %></td>
  <td><%= convert_attr_value('cap_color', mushroom.cap_color) %></td>
  <td><%= mushroom.bruises? %></td>
  <td><%= convert_attr_value('odor', mushroom.odor) %></td>
  <td><%= convert_attr_value('gill_attachment', mushroom.gill_attachment) %></td>
  <td><%= convert_attr_value('gill_spacing', mushroom.gill_spacing) %></td>
  <td><%= convert_attr_value('gill_size', mushroom.gill_size) %></td>
  <td><%= convert_attr_value('gill_color', mushroom.gill_color) %></td>
  <td><%= convert_attr_value('stalk_shape', mushroom.stalk_shape) %></td>
  <td><%= convert_attr_value('stalk_root', mushroom.stalk_root) %></td>
  <td><%= convert_attr_value('stalk_surface_above_ring', mushroom.stalk_surface_above_ring) %></td>
  <td><%= convert_attr_value('stalk_surface_below_ring', mushroom.stalk_surface_below_ring) %></td>
  <td><%= convert_attr_value('stalk_color_above_ring', mushroom.stalk_color_above_ring) %></td>
  <td><%= convert_attr_value('stalk_color_below_ring', mushroom.stalk_color_below_ring) %></td>
  <td><%= convert_attr_value('veil_type', mushroom.veil_type) %></td>
  <td><%= convert_attr_value('veil_color', mushroom.veil_color) %></td>
  <td><%= convert_attr_value('ring_number', mushroom.ring_number) %></td>
  <td><%= convert_attr_value('ring_type', mushroom.ring_type) %></td>
  <td><%= convert_attr_value('spore_print_color_range', mushroom.spore_print_color_range) %></td>
  <td><%= convert_attr_value('population', mushroom.population) %></td>
  <td><%= convert_attr_value('habitat', mushroom.habitat) %></td>
</tr>