<tr>
  <td><%= mushroom.id %></td>
  <td><%= mushroom.edible ? 'Edible' : 'Poisonous' %></td>
  <td><%= convert_attr_value('CAP_SHAPE', mushroom.cap_shape) %></td>
  <td><%= convert_attr_value('CAP_SURFACE', mushroom.cap_surface) %></td>
  <td><%= convert_attr_value('CAP_COLOR', mushroom.cap_color) %></td>
  <td><%= mushroom.bruises? %></td>
  <td><%= convert_attr_value('ODOR', mushroom.odor) %></td>
  <td><%= convert_attr_value('GILL_ATTACHMENT', mushroom.gill_attachment) %></td>
  <td><%= convert_attr_value('GILL_SPACING', mushroom.gill_spacing) %></td>
  <td><%= convert_attr_value('GILL_SIZE', mushroom.gill_size) %></td>
  <td><%= convert_attr_value('GILL_COLOR', mushroom.gill_color) %></td>
  <td><%= convert_attr_value('STALK_SHAPE', mushroom.stalk_shape) %></td>
  <td><%= convert_attr_value('STALK_ROOT', mushroom.stalk_root) %></td>
  <td><%= convert_attr_value('STALK_SURFACE_ABOVE_RING', mushroom.stalk_surface_above_ring) %></td>
  <td><%= convert_attr_value('STALK_SURFACE_BELOW_RING', mushroom.stalk_surface_below_ring) %></td>
  <td><%= convert_attr_value('STALK_COLOR_ABOVE_RING', mushroom.stalk_color_above_ring) %></td>
  <td><%= convert_attr_value('STALK_COLOR_BELOW_RING', mushroom.stalk_color_below_ring) %></td>
  <td><%= convert_attr_value('VEIL_TYPE', mushroom.veil_type) %></td>
  <td><%= convert_attr_value('VEIL_COLOR', mushroom.veil_color) %></td>
  <td><%= convert_attr_value('RING_NUMBER', mushroom.ring_number) %></td>
  <td><%= convert_attr_value('RING_TYPE', mushroom.ring_type) %></td>
  <td><%= convert_attr_value('SPORE_PRINT_COLOR_RANGE', mushroom.spore_print_color_range) %></td>
  <td><%= convert_attr_value('POPULATION', mushroom.population) %></td>
  <td><%= convert_attr_value('HABITAT', mushroom.habitat) %></td>
</tr>