<h1>Mushrooms</h1>

<div>
  <%= form_with url: mushrooms_path do |f| %>
    <div>
      <%= f.label :edible %>
      <%= f.check_box :edible, { multipe: false }, true %>
    <div>
    <div><%= form_multiple_checkbox('CAP_SHAPE') %></div>
    <div><%= form_multiple_checkbox('CAP_SURFACE') %></div>
    <div><%= form_multiple_checkbox('CAP_COLOR') %></div>
    <div>
      <%= f.label :bruises %>
      <%= f.check_box :bruises, { multipe: false }, true %>
    <div>
    <div><%= form_multiple_checkbox('ODOR') %></div>
    <div><%= form_multiple_checkbox('GILL_ATTACHMENT') %></div>
    <div><%= form_multiple_checkbox('GILL_SPACING') %></div>
    <div><%= form_multiple_checkbox('GILL_SIZE') %></div>
    <div><%= form_multiple_checkbox('GILL_COLOR') %></div>
    <div><%= form_multiple_checkbox('STALK_SHAPE') %></div>
    <div><%= form_multiple_checkbox('STALK_ROOT') %></div>
    <div><%= form_multiple_checkbox('STALK_SURFACE_ABOVE_RING') %></div>
    <div><%= form_multiple_checkbox('STALK_SURFACE_BELOW_RING') %></div>
    <div><%= form_multiple_checkbox('STALK_COLOR_ABOVE_RING') %></div>
    <div><%= form_multiple_checkbox('STALK_COLOR_BELOW_RING') %></div>
    <div><%= form_multiple_checkbox('VEIL_TYPE') %></div>
    <div><%= form_multiple_checkbox('VEIL_COLOR') %></div>
    <div><%= form_multiple_checkbox('RING_NUMBER') %></div>
    <div><%= form_multiple_checkbox('SPORE_PRINT_COLOR_RANGE') %></div>
    <div><%= form_multiple_checkbox('POPULATION') %></div>
    <div><%= form_multiple_checkbox('HABITAT') %></div>
    <%= f.submit 'Filter' %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Edible</th>
      <th>Cap shape</th>
      <th>Cap surface</th>
      <th>Cap color</th>
      <th>Bruises?</th>
      <th>Odor</th>
      <th>Gill attachment</th>
      <th>Gill spacing</th>
      <th>Gill size</th>
      <th>Gill color</th>
      <th>Stalk shape</th>
      <th>Stalk root</th>
      <th>Stalk surface above ring</th>
      <th>Stalk surface below ring</th>
      <th>Stalk color above ring</th>
      <th>Stalk color below ring</th>
      <th>Veil type</th>
      <th>Veil color</th>
      <th>Ring number</th>
      <th>Ring type</th>
      <th>Spore print color range</th>
      <th>Population</th>
      <th>Habitat</th>
    </tr>
  </thead>
  <tbody>
    <%= render @mushrooms %>
  </tbody>
</table>